.vscode/
Terraform/20230818/lab_sql_server_always_encrypted/.terraform
Terraform/20230818/lab_sql_server_always_encrypted/.terraform.lock.hcl
Terraform/20230818/lab_sql_server_always_encrypted/.terraform.lock.hcl
Terraform/20230818/lab_sql_server_always_encrypted/.terraform
Terraform/20230818/lab_sql_server_always_encrypted/terraform.tfstate
Terraform/20230818/lab_sql_server_always_encrypted/.terraform.tfstate.lock.info
Terraform/20230818/lab_sql_server_always_encrypted/terraform.tfstate.backup